html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

form > button {
    margin-top: -0.4rem !important;
}
.border-danger {
    width: 300px;
    height: 190px;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: 100px !important;
}

/*==================================================================
               Slider Section CSS Style 
===================================================================*/
.slide-radio-btn {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 10%;
    transform: translateY(-50%);
}

.slide-radio-btn > .radio-btn {
    background: rgba(255, 255, 255, 0.8);
    width: 30px;
    height: 4px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.slide-radio-btn > .radio-btn.active {
    background: #21d611;
}

.section-slide {
    width: 100%;
    height: 70vh;
    padding: 0;
}

.img-container {
    position: relative;
    display: inline-block;
}

.slider-section {
    z-index: 1;
    width: auto;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.slider-section > .section-slide > .img-box > .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
}

    .section > div {
        display: inline-block;
        width: 30%;
        text-align: center;
        border: 2px solid;
        padding: 20px;
        vertical-align: top;
        box-sizing: border-box;
    }
.section-1, .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    background-color: lightblue;
}

.section-2 {
    background-color: lightgreen;
}

.login-form-container {
    position: absolute;
    top: 30px;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

.registration-form-container {
    position: absolute;
    top: 3px;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}
/*---------------------------------------------------------
    ABOUT SECTION CSS
---------------------------------------------------------*/
.about-section {
    width: 100%;
    height: 65vh;
    background: #dfefff;
}

.about-div {
    padding: 50px 25px;
}

.about-text {
    width: 100%;
    height: 45px;
    position: relative;
}

    .about-text::after, .about-text::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 2px;
        background: #06233d;
        width: 30%;
        top: 2%;
    }

    .about-text::after {
        left: 0;
    }

    .about-text::before {
        right: 0px;
    }

.heading {
    width: 40%;
    height: 40px;
    border-left: 2px solid #06233d;
    border-right: 2px solid #06233d;
    left: 30%;
    right: 0;
    text-align: center;
    display: inline-block;
    bottom: 18px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.about-Para {
    text-align: justify;
}

/*--------------------------------------------------------------
# Notify Section Desktop View CSS Code Start Here
---------------------------------------------------------------*/

.notify {
    width: 100%;
    height: 30vh;
    background: #082744;
}

    .notify .blog {
        height: 30vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.blog .title {
    height: 120px;
    display: flex;
    outline: none;
    overflow: hidden;
    color: #f5f4fb;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    margin-right: 20px;
}

.plog {
    display: flow-root;
    padding-left: 10px;
    width: max-content;
    height: max-content;
    bottom: 15px;
    color: #f5f4fb;
    line-height: 5px;
    position: relative;
}

    .plog .arrow {
        top: 30px;
        position: relative;
        display: flex;
        margin: -10px;
    }

.blog .h2 .colh2 {
    color: #f41111;
    font-size: larger;
    text-transform: capitalize;
}

.iblog {
    top: 20px;
    width: max-content;
    display: block;
    position: relative;
    text-align: justify;
    padding: 0px 20px;
    line-height: 14px;
}
.fa-solid{
    width: 70px;
}