<section class="section">
    <h2>Discover Opportunities</h2>
    <div class="section-1">

        <h3>Apearing Graduates Candidates User...</h3>
    </div>
    <div class="section-2">
        <h3>Experienced Graduates Candidates User...</h3>
    </div>
</section>
