<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor_UTC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Razor_UTC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Sliders/Slider">Images</a>
                        </li>
                        @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/ContactUs/Contact">Contact Us</a>
                            </li>
                        }
                        @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Profile/UserProfile">Profile</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="_SignInStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <section class="slider-section">
        <main>
            @RenderBody()
            <partial name="_SliderPages" />
        </main>
    </section>
    <section>
        <partial name="_ExploreView" />
    </section>

    @* <section class="about-section">
    <div class="about-div" id="about">
    <div class="about-text">
    <div class="heading">Adhyetri Solutions</div>
    </div>
    <p class="about-para">Adhyetri Solutions is a next generation output driven digital orgnisation, which offers <!--/*services/...*/--> to our younger talents across the journey. Exploiting its digital technology expertise, Adhyetri helps for those under-rated younger talent who are eger to drive innovation, scale and agility by accelerating their adoption of the new technologies, using industry best practices along with built in solution accelerators. With a deep digital engineering heritage, Adhyetri Solutions is always committed to build best practices with updated tech solutions and always belive into pre-built the solutions on various platforms like - java, dotnet, react and manymore. As well as we are also trying to develope data-oriented applications. We are also provide end-to-end managed sequrity services and web operations design.</p>
    <p class="about-para">Innovation is just another word at Adhyetri, it’s a part of your carrier goals as well. We are focusing on build a culture, where resources can utilise their time and manage their carrier path accordingly. We want to offers a place where none of the resources will suffer from the miss managment of the system of the education. Adhyetri is working to always based on the real time industry analysis report management. employees can feel this change with throughout the journey. Our belife is a fundamental trust of inverting the organizational pyramid and engaging, enabling and empowering the front line talent. This is because we understand that this is the best placed to appreciate and understand the resource's concern and shape the roadmap to enhance the ‘value zone’ they have.</p>
    </div>
    </section> *@

    @* <section class="notify" id="slog">
    <div class="blog">
    <div class="title h2">
    <h2 class="sline">Plan for <span class="colh2"> next </span> 5 <span> years.</span></h2>
    </div>
    <i class="fa-solid fa-bolt fa-rotate-by fa-5x" style="color: #e8ea57; --fa-rotate-angle: 170deg;"></i>
    <div class="plog">
    <p class="iblog">
    <span>Explore technology footprint to deliver transformation in Artificial Inteligence.</span>
    </p>
    <p class="iblog">
    <span>Next gen-Ids, Products and platforms that future-proof our customer's businesses.</span>
    </p>
    <p class="iblog">
    <span> Culture of innovation powered by our unique ideas developed by our younger talent.</span>
    </p>
    </div>
    </div>
    </section> *@

    <footer class="border-top footer text-muted bg-black">
        <div class="container-fluid row">
            <div class="col mx-auto my-4">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none">Home</a></li>
                    <li><a class="text-decoration-none">About</a></li>
                    <li><a class="text-decoration-none">Experience</a></li>
                    <li><a class="text-decoration-none">Display</a></li>
                    <li><a class="text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col mx-auto my-4">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none">Home</a></li>
                    <li><a class="text-decoration-none">About</a></li>
                    <li><a class="text-decoration-none">Experience</a></li>
                    <li><a class="text-decoration-none">Display</a></li>
                    <li><a class="text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col mx-auto my-4">
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none">Home</a></li>
                    <li><a class="text-decoration-none">About</a></li>
                    <li><a class="text-decoration-none">Experience</a></li>
                    <li><a class="text-decoration-none">Display</a></li>
                    <li><a class="text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid bg-primary">
            &copy; 2024 - Razor_UTC - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>