@page
@model Razor_UTC.Authentication.AuthenticationModel
@{ }

<form method="post" class="login-form-container">
    <div class="container" style="max-width: 100%; padding: 20px; background-color: #f0f0f0;">
        <div class="form-group">
            <label asp-for="Credentials.Username"></label>
            <input type="text" asp-for="Credentials.Username" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Credentials.Password"></label>
            <input type="password" asp-for="Credentials.Password" class="form-control" />
        </div>
        <div class="form-group mt-3">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>